:root {
  --color-primary: #212121;
  --color-text-deck: #757575;
  --color-invert: #fff;
  --color-opacity: rgba(255, 255, 255, 0.6);
  --color-action: #2196f3;
  --color-header-border:#ececec;
  --color-background-primary: #fff;
  --color-background-second: #2f303a;
  --color-background-brand: #f5f4fa;
  --color-background-action: #2196f3;
  --background-color-even: #188ce8;
  --color-border-one: #eeeeee;
  --color-fill-svg: #afb1b8;
  --color-background-animation: rgba(33, 150, 243, 0.9);
  --color-backdrop: rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

body {
  font-family: "Roboto";
  background-color: var(--primary-white-color);
}
body.is-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.nav__logo,
.footer-address__nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color-primary);
  transition: color 250ms var(--timing-function);
}

.current {
  color: var(--color-action);
}
.current:hover, .current:focus {
  color: var(--background-color-even);
}

@media screen and (min-width: 768px) {
  .nav__logo,
  .footer-address__nav-logo {
    font-size: 26px;
  }
}
.team_list_icon {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}

.teams_link_icon {
  width: 44px;
  height: 44px;
  border-radius: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-primary);
  transition: background-color 250ms var(--timing-function);
}
.teams_link_icon:hover, .teams_link_icon:focus {
  background-color: var(--color-action);
}
@media screen and (min-width: 0px) and (max-width: 245px) {
  .teams_link_icon {
    width: 22px;
    height: 22px;
    border-radius: 22px;
  }
}

.teams_icon {
  fill: var(--color-fill-svg);
  transition: fill 250ms var(--timing-function);
}
.teams_link_icon:hover .teams_icon, .teams_link_icon:focus .teams_icon {
  fill: var(--color-background-primary);
}

.team_item_icon:not(:last-of-type) {
  margin-right: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: none;
}

.header-contact {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-menu-list__link.current {
    color: var(--color-action);
    transition: fill 250ms var(--timing-function);
  }
  .mobile-menu-list__link.current:hover .mobile-menu-list__link.current, .mobile-menu-list__link.current:focus .mobile-menu-list__link.current {
    fill: var(--color-action);
  }
  .mobile-menu-list__link .current {
    color: var(--color-action);
    transition: fill 250ms var(--timing-function);
  }
  .mobile-menu-list__link .current:hover .mobile-menu-list__link.current, .mobile-menu-list__link .current:focus .mobile-menu-list__link.current {
    fill: var(--color-action);
  }
  .header {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
  }
  .mobile-menu__btn-open,
  .mobile-menu__btn-close {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    border-color: transparent;
    fill: black;
    transition: fill 250ms var(--timing-function);
  }
  .mobile-menu__btn-open:hover, .mobile-menu__btn-open:focus, .mobile-menu__btn-open:hover, .mobile-menu__btn-open:focus,
  .mobile-menu__btn-close:hover,
  .mobile-menu__btn-close:focus,
  .mobile-menu__btn-close:hover,
  .mobile-menu__btn-close:focus {
    fill: var(--background-color-even);
  }
  .mobile-menu__btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background-color: #fff;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu .mobile-menu .is-open .mobile-menu {
    transform: scale(0.9) translate(-50%, -50%);
  }
  .mobile-menu-list {
    margin-bottom: 300px;
  }
}
@media screen and (max-width: 767px) and (max-width: 350px) and (max-height: 600px) {
  .mobile-menu-list {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-list__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-list__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: var(--color-primary);
    transition: color 250ms var(--timing-function);
  }
  .mobile-menu-list__link:hover, .mobile-menu-list__link:focus {
    color: var(--color-action);
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-contact {
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-contact__tel {
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-social__list {
    display: flex;
    align-items: flex-end;
  }
}
@media screen and (max-width: 767px) and (max-width: 450px) {
  .mobile-menu-social__list {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-contact__link-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-action);
  }
}
@media screen and (max-width: 767px) and (max-width: 450px) {
  .mobile-menu-contact__link-tel {
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-contact__link-email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    color: #757575;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-social__link {
    width: 357px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-action);
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-social__item:not(:last-child) {
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) and (max-width: 450px) {
  .mobile-menu-social__item:not(:last-child) {
    margin-right: 5px;
  }
}
.mobile-menu-social__line::after {
  content: "";
  margin-left: 10px;
  width: 22px;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
@media screen and (max-width: 450px) {
  .mobile-menu-social__line::after {
    margin-left: 5px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu__btn-open {
    display: none;
  }
  .nav-list {
    display: flex;
  }
  .header {
    border-bottom: 1px solid #ececec;
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .header-container {
    padding-top: 0;
  }
  .nav__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
  .nav {
    display: flex;
    align-items: center;
    padding-left: 0;
  }
  .nav-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    display: block;
    color: var(--color-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    transition: color 250ms var(--timing-function);
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--background-color-even);
  }
  .current {
    color: var(--color-action);
  }
  .nav-list__link.current.lineal::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--color-background-action);
  }
  .nav-list__item:not(:last-of-type) {
    margin-right: 50px;
  }
  .header-contact {
    display: block;
    padding-left: 0;
    margin-top: 0;
    margin-left: auto;
  }
  .header-contact__email-img,
  .header-contact__tel-img {
    margin-right: 8px;
    fill: var(--color-text-deck);
  }
  .header-contact__link-email,
  .header-contact__link-tel {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--color-text-deck);
  }
  .header-contact__link-email {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact {
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-left: auto;
  }
  .header-contact__link-tel {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.13;
    letter-spacing: 0.02em;
    color: var(--color-text-deck);
    transition: color 250ms var(--timing-function);
  }
  .header-contact__link-tel:hover, .header-contact__link-tel:focus {
    color: var(--background-color-even);
  }
  .header-contact__link-email {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.13;
    letter-spacing: 0.02em;
    color: var(--color-text-deck);
    transition: color 250ms var(--timing-function);
  }
  .header-contact__link-email:hover, .header-contact__link-email:focus {
    color: var(--background-color-even);
  }
  .header-contact__email-img,
  .header-contact__tel-img {
    margin-right: 10px;
    fill: var(--color-text-deck);
    transition: fill 250ms var(--timing-function);
  }
  .header-contact__link-email:hover .header-contact__email-img, .header-contact__link-email:focus .header-contact__email-img, .header-contact__link-tel:hover .header-contact__email-img, .header-contact__link-tel:focus .header-contact__email-img,
  .header-contact__link-email:hover .header-contact__tel-img,
  .header-contact__link-email:focus .header-contact__tel-img,
  .header-contact__link-tel:hover .header-contact__tel-img,
  .header-contact__link-tel:focus .header-contact__tel-img {
    fill: var(--color-action);
  }
  .header-contact__email {
    margin-left: auto;
  }
  .header-contact__tel {
    margin-left: 40px;
  }
}
.services-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.services-list__item:not(:last-of-type) {
  margin-right: 10px;
  margin-bottom: 15px;
}

.services-button {
  padding: 6px 26px;
  background: var(--color-background-brand);
  border: var(--color-background-brand);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--color-primary);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.services-button:hover, .services-button:focus {
  background: var(--color-background-action);
  color: var(--color-background-primary);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .services-list {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 50px;
  }
  .services-list__item:not(:last-of-type) {
    margin-right: 10px;
    margin-bottom: 0;
  }
}
.server_img {
  width: 450px;
  height: 294px;
  max-width: 100%;
  height: auto;
}

.server_menu {
  margin: 0 auto;
}

.server_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background-animation);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.server_card:hover .server_overlay {
  transform: translateY(0);
}

.server_relative_img {
  position: relative;
  overflow: hidden;
}

.server_absolute_text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 63px 24px;
}
@media screen and (max-width: 375px) {
  .server_absolute_text {
    padding: 22px 12px;
  }
}

.server_text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-background-primary);
}
@media screen and (max-width: 375px) {
  .server_text {
    font-size: 16px;
  }
}

.card_border {
  margin-bottom: 30px;
  padding: 20px 20px;
  background: var(--color-background-primary);
  border: 1px solid var(--color-border-one);
  border-top: none;
}
.server_card:hover .card_border, .server_card:focus .card_border {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.server_card {
  transition: box-shadow 250ms var(--timing-function);
}

.server_card .server_img,
.server_card .card_border {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 0px 0px rgba(0, 0, 0, 0.06);
  transition: box-shadow 250ms var(--timing-function);
}

.server_card:hover .server_img,
.server_card:focus .server_img {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.server_menu_title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}

.server_menu_descript {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--color-text-deck);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .server_card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .card_border {
    flex-grow: 1;
  }
}
@media screen and (min-width: 768px) {
  .server_img {
    width: 354px;
  }
  .card_border {
    margin-bottom: 0;
  }
  .server_menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .server_item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .server_img {
    width: 370px;
  }
  .server_item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
.footer-address__nav-logo {
  padding-top: 0;
  display: block;
}
@media screen and (max-width: 1199px) {
  .footer-address__nav-logo {
    text-align: center;
  }
}

.footer {
  padding: 60px 0;
  background-color: var(--color-background-second);
}

address {
  margin-top: 28px;
}

.footer-address__list {
  display: block;
  font-style: normal;
}
@media screen and (max-width: 1199px) {
  .footer-address__list {
    text-align: center;
  }
}

.footer-address_color-invert {
  color: var(--color-invert);
}
.footer-address_color-invert.current {
  color: var(--color-action);
}

.footer-address__link {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color-invert);
}

.footer-address__contact {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color-opacity);
}
@media screen and (min-width: 0px) and (max-width: 1199px) {
  .footer-address__contact {
    text-align: center;
  }
}

.footer-address__item:not(:last-of-type) {
  margin-bottom: 12px;
}

.footer_social_list {
  display: flex;
  justify-content: center;
}

.footer_social_title {
  margin-top: 60px;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-background-primary);
}
@media screen and (min-width: 0px) and (max-width: 1199px) {
  .footer_social_title {
    text-align: center;
  }
}

.social_item:not(:last-of-type) {
  margin-right: 10px;
}

.social_link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--color-invert);
  transition: background-color 250ms var(--timing-function);
}
.social_link:hover, .social_link:focus {
  background-color: var(--color-action);
}

.footer_form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_form_call {
  display: block;
  margin-bottom: 20px;
  margin-top: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-invert);
}
@media screen and (min-width: 0px) and (max-width: 1199px) {
  .footer_form_call {
    text-align: center;
  }
}

.footer_form_input {
  display: flex;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--color-invert);
  transition: border-color 250ms var(--timing-function);
}
.footer_form_input:focus {
  outline: none;
  border-color: var(--color-action);
}

.footer_form_icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  display: block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.footer_form_btn {
  position: relative;
  margin-top: 20px;
  margin-left: 12px;
  min-width: 200px;
  padding: 10px 60px 10px 28px;
  border: 1px solid var(--color-action);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--color-background-action);
  color: var(--color-invert);
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  transition: background-color 250ms var(--timing-function);
}
.footer_form_btn:hover, .footer_form_btn:focus {
  background-color: var(--background-color-even);
}

.footer_label_input {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer_social_title {
    margin-top: 0px;
  }
  .footer_social_list {
    justify-content: start;
  }
  .flex {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
  }
  .footer_form_input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer_form_input {
    width: 358px;
  }
  .footer_form {
    flex-direction: row;
    align-items: flex-end;
  }
  .footer_form_btn {
    margin-top: 32px;
  }
  .footer_form_call {
    margin-top: 0px;
  }
}/*# sourceMappingURL=portfolio.css.map */