.nav__logo {
  padding-top: 16px;

  font-family: $font-accept;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.03em;

  color: var(--color-primary);
  transition: color 250ms var(--timing-function);
}

.current {
  color: var(--color-action);

  &:hover,
  &:focus {
    color: var(--background-color-even);
  }
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  .nav__logo {
    padding-top: 26px;

    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
}
